* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.wrap {
    width: 1000px;
    display: flex;
}

.header {
    width: 200px;
}

.logo {
    padding: 50px 0;
}

.logo img {
    width: 200px;
}

.gnb_container {
    padding: 0 10px;
}

.gnb > li > a {
    display: block;
    padding: 16px;
    text-align: center;
}

.sub {
    display: none;
}