.main {
    display: flex;
}

.header {
    width: 200px;
}

.contents {
    width: calc(100% - 200px);
}

.slider {
    height: 400px;
}

.banner_container {
    height: 200px;
}

.tab {
    height: 250px;
}

.footer {
    display: flex;
    height: 120px;
    align-items: center;
}

.f_logo {
    width: 200px;
}

.f_contents {
    flex: 1;
}

.sns {
    width: 250px;
}