.header {
    width: 200px;
}

.logo {
    padding: 20px 0;
}

.gnb_wrap {
    padding: 10px;
}

.gnb {
    position: relative;
    text-align: center;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 56px;
    line-height: 56px;
    border: 1px solid #999;
}

.gnb > li:hover > a {
    background-color: #ddd;
}

.gnb::after {
    content: "";
    width: calc(100vw - 190px);
    height: 224px;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 180px;
}

.sub {
    position: absolute;
    top: 0;
    left: 200px;
    display: flex;
    width: 600px;
    z-index: 1;
}

.sub li {
    width: 120px;
}

.sub a {
    display: block;
    height: 56px;
    line-height: 56px;
}

.sub a:hover {
    background-color: #666;
    color: #fff;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.user a {
    display: block;
    padding: 0 15px;
    border-right: 1px solid #999;
}

.user a:last-child {
    border: none;
}

.user a:hover {
    text-decoration: underline;
}